// 404 View styles
@import '../../styles/theme/theme';

.error-container {
  text-align: center;
}

.error-status {
  font-family: $font-family-display;
  font-size: 120px;
  line-height: 1.3;
}

.error-message {
  font-size: 20px;
  color: $gray;
  margin-bottom: 20px;
}
